@model FinanceManager.Domain.Entities.Category

@{
    ViewBag.Title = "Edit category";
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Edytuj kategorię</h4>
        @using (Html.BeginForm("Edit", "Category"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CategoryID)
            foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "CategoryID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? "")</label>
                        @if (property.PropertyName == "Name")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 2 })
                        }
                        else if (property.PropertyName == "Type")
                        {
                            @Html.DropDownListFor(m => m.Type, new[]{
                            new SelectListItem() {Text = "Expenses", Value = "Expense"},
                            new SelectListItem() {Text = "Revenue", Value = "Income"},
                            new SelectListItem() {Text = "Savings", Value = "Saving"}
                               })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }

            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and go back to the list", "Index", null, new { @class = "btn btn-link" })
            </div>
        }
    </div>
</div>


